<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <header class="header">
        <a href="/">
         <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
        </a>
    </header>

    <section class="sentiment-analyzer">

        <img class="banner-img" src="{{ url_for('static', filename='img/banner.png') }}">

        <div class="content">

            <div class="chat-input">
                <textarea id="reviewInput" placeholder="Type your review here..."></textarea>

                <button onclick="analyzeReview()">➤</button>
            </div>

           <div id="resultPopup" class="result-popup">
             <p id="resultText"></p>
        </div>
        
        </div>

    </section>

   <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="footer">
    <p>© 2026 AI Sentiment Analysis • Built for academic purposes</p>
    </footer>
</body>
</html>